# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*


# Carpeta de construcción generada por Eclipse
bin/

# Carpeta de archivos de proyecto de Eclipse
.settings/

# Archivos de configuración específicos de Eclipse
.classpath
.project

# Directorio de archivos generados por Maven
target/

# Carpeta de dependencias de Maven
lib/

# Carpeta de archivos generados por Gradle
build/

# Carpeta de dependencias de Gradle
.gradle/

# Archivo de configuración de Gradle
.gradle.kts

# Carpeta de archivos generados por IntelliJ IDEA
out/

# Carpeta de archivos de proyecto de IntelliJ IDEA
.idea/

# Archivo de configuración específico de IntelliJ IDEA
*.iml

# Carpeta de archivos generados por NetBeans
nbproject/

# Carpeta de archivos de proyecto de NetBeans
build/

# Carpeta de archivos generados por Visual Studio Code
.vscode/

# Ignorar archivos y directorios específicos de macOS
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
